
body{
font-family: Roboto, sans-serif;
 font-weight: regular;
font-size: 16px;
 line-height: 24px;
  letter-spacing: 2%;
}
a{
text-decoration: none;
}
h1{
    font-weight: Bold;
    font-size: 56px;
     line-height:60px;
}


h2{
    font-weight: Bold;
    font-size: 36px; 
}
h3{
    font-weight: Medium;
    font-size: 20px;
}
p{
    font-size:Regular;
    font-size: 12px; 
    line-height: 14px; 
    letter-spacing: 4%;
}

nav ul a{
color: rgb(46, 47, 66);
}

nav ul a:hover {
    color: rgb(64, 75, 191)
}
address ul a{
    color: rgb(46, 47, 66);
}
address ul a:hover {
    color: rgb(64, 75, 191)
}
.section-title{
    background-color: #2E2F42;
}
.btn1{
    background: rgb(77, 90, 229);
    color: white;
}
.btn1:hover{
   background: rgb(64, 75, 191); 
}
.team-block img{
    width: 264px;
    height:260px;
}
.portfolio-block img{
    width:360px ;
    height:300px ;
}
#Team{
  background-color:  rgb(244, 244, 253);
}
footer{
   background-color:  rgb(46, 47, 66);
}
.Web{
    color: rgb(77, 90, 229);
   
}
.logo{
    color: rgb(46, 47, 66);
    text-decoration: none;
}